.page-container
  height 48px

.page-header
  border-bottom 1px solid #ddd
  width auto
  display flex
  justify-content space-between
  align-items center

  .logo
    font-size 22px
    line-height 48px
    font-weight 700
    margin 0

  .logo a
    display inline-block
    color #333
    font-size 22px
    line-height 48px
    font-weight 700

  .dropdown-title
    cursor pointer
    display inline-block
    vertical-align middle
    user-select none

    .icon-down
      margin-left 4px
