.todoItem
  display flex
  cursor auto
  padding 4px
  border-top 1px solid #ddd
  &:hover
    background #f9f9f9
  &.editing
    background #FFF4D0
    border-top-color #F7EDB8
  &.completed
    opacity 0.5
    text-decoration line-through

  .editing-input-wrapper
    display flex
    justify-content space-between
    align-items center
    width 100%
    margin-left 4px

  span.text
    margin-left 4px

  textarea, span.text
    flex 1 1 auto
    outline none
    border 0
    background transparent

  .editing-input
    white-space pre-line
    height 22px
    resize none

  .icon-wrapper
    .icon-delete
      margin-left 4px
