.GTD-action
  .start-task-btn
    width 100%
    font-weight 700
    font-size 16px

  .input-wrapper, .count-down-wrapper
    position relative
    .icon-close
      font-size 18px
      position absolute
      top -9px
      right -9px
      background white
audio
  display none
