#Home
  max-width 960px
  margin 0 auto
  padding 16px

  main.content
    margin-top 20px
    display flex
    justify-content space-between
    // align-items flex-start

  main.statistics-content
    margin-top 20px

  @media (max-width: 756px)
    .page-footer
      flex-direction column
      p.copyright
        margin 0
    main.content
      flex-direction column
      .GTD, .todos
        width 100%
      .todos
        margin-top 20px
    main.statistics-content
      .statistics
        flex-direction column
        li
          border none
          border-bottom 1px solid #e4e4e4
          max-width 100%
          width 100%
        li:last-child
          border none
      .history-wrapper
        .monthly-action
          flex-direction column
          align-items flex-start
          .monthly-action-year, .monthly-action-month
            margin 0
          .monthly-action-title, .monthly-action-year
            margin-bottom 10px
        .monthly-history-statistics-wrapper
          ul
            flex-direction column
            li
              border none
        .GTDTitle
          .daily-GTDs
            flex-direction column
            .summary, .date-wrapper p
              margin 0
            .date-wrapper
              display flex
              .finished-GTDs-count
                margin-left 10px
        .todosTitle
          .daily-todos
            flex-direction column
            .summary, .date-wrapper p
              margin 0
            .date-wrapper
              display flex
              .finished-todos-count
                margin-left 10px
