.monthly-history-core
  .monthly-action
    padding-bottom 0.7em
    display flex
    align-items center

  .monthly-action-year
  .monthly-action-month
    margin-left 15px

  .monthly-action-text
    margin-left 8px
  .monthly-history-statistics-wrapper
    border 1px solid #ddd
    border-radius 4px
  ul
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid #ddd
  li
    padding .7em 0
    text-align center
    border-right 1px solid #ddd
    flex 1
    &:last-child
      border-right 0
    &>strong
      margin-right .3em
      color #333
      font-size 1.8em
  .unit
    font-size 16px
    color #222
  .monthlyIncrease
    color rgba(215,78,78,1.0)
  .growable
    color #3D9400
