.page-login
  max-width 500px
  margin 50px auto
  padding-left 100px
  padding-right 100px

  input
    margin 5px auto

  .login-header
    font-size 42px
    font-weight 400
    text-align center

  .login-btn
    width 100%
    margin-top 20px

  .register-link
    margin-top 25px
  .ant-input-affix-wrapper
    align-items center
