.GTD-list
  border-top 1px solid #ddd
  margin-top 20px
  .daily-GTDs
    margin-top 20px
    .title
      display flex
      justify-content space-between
      align-items center
      .date-time
        font-size 1.1em
        color #999
      .finished-GTD-number
        font-size 0.9em
        color #666
  .GTD-item
    display flex
    .time-range
      color #999
      flex-shrink 0
    .description
      padding-left 0.8em
      font-size 1.1em
      color #222
      word-break break-all
